<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gitpub <%=selectedFood.name%></title>
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
      }
      img{
        height: 30vh;
      }
    </style>
  </head>
  <body>
    <h1><%=selectedFood.name%></h1>
    <h4>$<%=selectedFood.price%></h4>
    <img src='<%=selectedFood.image%>.png' alt="<%=selectedFood.name%>">
    <br>
    <a href="/drinks">Back to Index</a>
  </body>
</html>
