<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mars Missions</title>
  </head>
  <body>
    <h1><%=marsMission.name%></h1>
    <h4><%=marsMission.launchDate%></h4>
    <h3><%=marsMission.operator%></h3>
    <h3><%=marsMission.missionType%></h3>
    <img src="<%=marsMission.img%>" alt="<%=marsMission.name%>">
    <a href="/">Back to Index</a>
  </body>
</html>
